.nav-discover {
    background-color: #42a5f5;
    width: auto;
    padding: 1.5rem
}

.title-h1 {
   color: white; 
   text-decoration: none;
}
.title-h1:hover {
    color: red;
    text-decoration: none;
}
.title-h1:active {
    color: red;
}
.title {
    background-color: lightgrey;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1px;
}

.pic {
    border-radius: 30%;
    border-color: #42a5f5;
    border-style: solid;
    padding: 20px;
    margin: 10px;
    background-color: white;
    text-align: center;
    color: #42a5f5;
    font-size: 12px;
    font-weight: bold;
}
.pic:hover {
    background-color: red;
}
.title2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 744px) {
    .pic {
        width: 50%
    }
}
