.nav-discover {
    background-color: #42a5f5;
    width: auto;
    padding: 1.5rem
}

a {
    color: white;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active {
    color: red;
}
.title {
    background-color: #42a5f5;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1px;
}