.Home {
    height: 95%;
    margin: 15px;
}

.home {
    background-color: black;
}
.logo {
    float: center;
    width: 70%;
    height: 50%;
    margin-left: 16%;
    margin-top: 10px;
    }
    .bouton18 {
        width:155px;
        height:125px;
        background: skyblue;
        box-shadow:2px 2px 8px darkblue;
        font:bold 15px Arial;
        border-radius:50%;
        color:darkblue;
    }
.bouton18:hover {
    background-color: black;
    width:20%;
}
.text-button {
    margin-top: 15%;
}
.text-button:hover {
    text-decoration: none;
    color: skyblue;
}
@media screen and (min-width: 980px) {
    .logo {
        width: 30%;
        height: 400px;
        margin-left: 35%
    }
}
@media screen and (min-height: 650px) {
    .lead {
        font-size:18px
    }
}
@media screen and (min-height: 750px) {
    .lead {
        font-size:20px
    }
}
