.Home {
    height: 95%;
    margin: 15px;
}

.home {
    background-color: black;
}
.logo {
    float: center;
    width: 70%;
    height: 50%;
    margin-left: 16%;
    margin-top: 10px;
    }
    .bouton18 {
        width:155px;
        height:125px;
        background: skyblue;
        box-shadow:2px 2px 8px red;
        font:bold 15px Arial;
        border-radius:50%;
        color: red;
    }
.bouton18:hover {
    background-color: black;
}
.text-button {
    margin-top: 15%;
    color: white;
    font-size: 19px;
}
.text-button:hover {
    text-decoration: none;
    color: skyblue;
}
@media screen and (min-width: 980px) {
    .logo {
        width: 30%;
        height: 400px;
        margin-left: 35%
    }
}
@media screen and (min-height: 650px) {
    .lead {
        font-size:18px
    }
}
@media screen and (min-height: 750px) {
    .lead {
        font-size:20px
    }
}
@media screen and (min-width: 345px) and (max-width: 405px) {
    .logo1 {
        width: 110px;
        height: 10px;
    }
    .title {
        font-size: 13px;
        margin-left: -8px;
        margin-right: -28px;
    }
    .dropdown {
        margin-right: 0px;
        background-color: #303440
    }
}
