
.homepage {
    height: 93vh;
    color: white;
}

.logo-cleaners {
    margin-top: 8vh;
    height: 30vh;
    width: 30vh;
}
.logo-pressing {
    height: 3vh;
    width: 60%;
}
.lead {
    font-size: 15px;
}
.title-link {
    color:white;
    margin-left: 2%;
}
.title-link:hover {
    color:skyblue;
}
.bouton18 {  
    width: 20vh;
    height:20vh;
    background: black;
    box-shadow:2px 2px 8px red;
    font:bold 15px Arial;
    border-radius:50%;
    color: skyblue;
}

.bouton18:hover {
    background-color: red;
}
.text-button {
    color: white;
    padding-top: 6%;
}

.text-button:hover {
    text-decoration: none;
    color: skyblue;
}
h1 {
    font-size: 15px
}
.appbar-price {
    margin-top: 5vh
}

/*ipad */
@media screen and (min-width: 750px) and (max-width: 1200px) and (min-height: 1000px) {
    .lead {
        font-size: 20px;
        margin-top: 35px;
    }
    .bouton18 {
        font-size: 25px;
    }
    .homepage {
        
    }
}
/*paysage */
@media screen and (min-width: 500px) and (max-height: 450px) {
    .logo-pressing {
        width: 30%;
    }
    .logo-cleaners {
        width: 20vh;
        height: 20vh;
        margin-top: 20vh
    }
    .homepage {
    }
    .lead {
        margin-top: -1%;
        font-size: 8px;     
        margin-bottom: -1%;
    }
    .bouton18 {
        height: 15vh;
        width: 15vh;
        padding-top: 1.5%;
        font-size: 10px;   
    }
    .appbar-price {
        margin-top: 13vh
    }
}
/*ipad pro*/
@media screen and (min-width: 1000px) and (max-width: 1400px) and (min-height: 1300px) {
    .lead {
        font-size: 28px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .bouton18 {
        font-size: 30px;
    }
}
/*pc*/
@media screen and (min-width: 1250px) {
    .homepage {
    }
    .logo-cleaners {
        width: 30vh;
        height: 30vh;
    }
    .logo-pressing {
        width: 40%;
        height: 10%;
    }
    .lead {
        font-size: 18px;
    }
    .bouton18 {
        font-size: 20px;
    }
}

/*iphone 8plus */
@media screen and (min-width: 400px) and (max-width: 415px) and (min-height: 720px) and (max-height: 900px) {

    
}
/*iphone 5 */
@media screen and (min-width: 280px) and (max-width: 344px) and (min-height: 550px) and (max-height: 650px) {
    .logo-cleaners {
        width: 25vh;
        height: 25vh;
    }
    .appbar-price {
        margin-top: 6vh
    }
    .bouton18 {
        width: 15vh;
        height: 15vh;
    }
    .lead {
        font-size: 10px;
    }
}
/*pixel2 */
@media screen and (min-width: 345px) and (max-width: 415px) and (min-height: 730px) and (max-height: 810px) {
    
}
/*iphone 6/7/8 */
@media screen and (min-width: 345px) and (max-width: 415px) and (min-height: 600px) and (max-height: 735px) {
    .logo-cleaners {
        width: 25vh;
        height: 25vh;
    }
    .bouton18 {
        width: 16vh;
        height: 16vh;
    }
    .homepage {
        height: 90vh;
    }
    .lead {
        font-size: 13px;
    }
    .appbar-price {
        margin-top: 5vh
    }
}

/*iphone X */
@media screen and (min-width: 345px) and (max-width: 415px) and (min-height: 811px) and (max-height: 911px) {
    .lead {
        font-size: 14px;
    }
    .bouton18 {
        font-size: 20px;
    }
    .appbar-price {
        margin-top: 3vh
    }
}
/*iphone 8plus */
@media screen and (min-width: 400px) and (max-width: 415px) and (min-height: 730px) and (max-height: 824px) {
    .lead {
        font-size: 14px;
    }
    .bouton18 {
        font-size: 20px;
    }
    .appbar-price {
        margin-top: 4vh
    }
}



