
.homepage {
    height: 94vh;
}
.logo-cleaners {
    margin-top: 2vh;
    height: 35vh;
    width: 35vh;
}
.logo-pressing {
    height: 8vh;
    width: 80vh;
}
.text-intro {
    color: white;
    height: 22vh;
}
.title-link {
    color:white;
    margin-left: 2%;
}
.title-link:hover {
    color:skyblue;
}
.bouton18 {
    
    bottom: 9vh;
    width: 20vh;
    height:20vh;
    background: black;
    box-shadow:2px 2px 8px red;
    font:bold 15px Arial;
    border-radius:50%;
    color: skyblue;
}

.bouton18:hover {
    background-color: red;
}
.text-button {
    color: white;
    padding-top: 6%;
}

.text-button:hover {
    text-decoration: none;
    color: skyblue;
}

/*ipad */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    
}
/*ipad pro*/
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    
}
/*pc*/
@media screen and (min-width: 1250px) {

}

/*iphone 8plus */
@media screen and (min-width: 400px) and (max-width: 415px) and (min-height: 720px) and (max-height: 900px) {

    
}
/*iphone 5 */
@media screen and (min-width: 280px) and (max-width: 344px) and (min-height: 550px) and (max-height: 650px) {
    
}
/*pixel2 */
@media screen and (min-width: 345px) and (max-width: 415px) and (min-height: 730px) and (max-height: 810px) {
    
}
/*iphone 6/7/8 */
@media screen and (min-width: 345px) and (max-width: 415px) and (min-height: 600px) and (max-height: 735px) {
    
}
/*iphone X */
@media screen and (min-width: 345px) and (max-width: 415px) and (min-height: 811px) and (max-height: 911px) {
    
}
/*iphone 8plus */
@media screen and (min-width: 400px) and (max-width: 415px) and (min-height: 730px) and (max-height: 800px) {
    
}


