.reservation {
        margin: 5%;
        padding: 0;
        border: 0;
        font-size: 11px;
}
.title {
    color:skyblue;
    text-align: center;
}
.service {
    margin-top: 3%;
    line-height: 1px;
    color: red;
}
.name {
    width:42%; 
}
.surname {
    width: 42%;
    margin-left: 10%
}

.date {
    width: 42%;
}
.email {
    margin-left: -5px;
}
.address {
    margin-left: -5px;
}
.informations {
    margin-left: -5px;
}
.hour {
    margin-left: 10%;
    width: 42%;
}
@media screen and (min-height: 750px) {
    .reservation {
        font-size: 13px;
    }
    .service {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}
@media screen and (min-width: 280px) and (max-width: 344px) and (min-height: 550px) and (max-height: 650px) {
    .reservation {
            font-size: 10px;
    }
}

