/*NavAdmin*/
.nav-admin {
    background-color: lightgray;
    font-size: 15px;
}
.nav-admin:active {
    color: red;
}

/*Card*/
.list-group-item:hover { 
    background-color: skyblue;
    font-size: 200%;
    font-style: bold;
    cursor: pointer;
  }
  .modal-header {
      background-color: skyblue;
  }

