.NavBar {
    height: 95%;
    background-color: dark;
}
.navbar {
    font-size: 20px;
    background-color: black; 
}
.logo1 {
    width: 120px;
}

.title {
    color: skyblue;
}
.title:hover{
    color:skyblue;
}

.navMenu {
    color: skyblue;
}
.navMenu:hover {
    color:skyblue;
}
.dropdown {
    width:70px;
    height: 50px;
    background-color: black;
    border: 0px;
}
.dropdown:hover {
    background-color:black;
}

@media screen and (min-width: 980px) {
    .mr-auto {
        margin-left: 30%;
    }
    .logo1 {
        text-align: center;
        margin-left: 30%;
        width: 450px;
    }
}
/* Iphone5 */
@media screen and (min-width: 290px) and (max-width: 344px) {
    .logo1 {
        width: 90px;
        height: 10px;
    }
    .title {
        font-size: 13px;
        margin-left: -12px;
        margin-right: -28px;
    }
    .dropdown {
        background-color: #303440
    }
}
/* IphoneX + 6 */
@media screen and (min-width: 345px) and (max-width: 405px) {
    .logo1 {
        width: 110px;
        height: 10px;
    }
    .title {
        font-size: 13px;
        margin-left: -8px;
        margin-right: -28px;
    }
    .dropdown {
        margin-right: 0px;
        background-color: #303440
    }
}
/* IphonePlus */
@media screen and (min-width: 410px) and (max-width: 454px) {
    .logo1 {
        width: 110px;
        height: 10px;
    }
    .title {
        font-size: 13px;
        margin-left: -8px;
        margin-right: -28px;
    }
    .dropdown {
        margin-right: 0px;
        background-color: #303440
    }
}

