.NavBar {
    height: 95%;
    background-color: dark;
}
.navbar {
    font-size: 20px;
    background-color: black; 
}
.logo1 {
    width: 120px;
}

.title {
    color: skyblue;
    font-style: bold;
}
.title:hover{
    color:skyblue;
    text-decoration: none;
}

.navMenu {
    color: skyblue;
}
.navMenu:hover {
    color:skyblue;
}
@media screen and (min-width: 980px) {
    .mr-auto {
        margin-left: 30%;
    }
    .logo1 {
        text-align: center;
        margin-left: 50%;
        width: 450px;
    }
}
@media screen and (max-width: 350px) {
    .logo1 {
        width: 110px;
    }
}